<template>
    <TopHeaderComponent/>
    <ContainerComponent>
        <HeaderComponent/>
    </ContainerComponent>
    <hr class="mt-4 text-gray-03">
    <ContainerComponent>
        <div class="grid grid-columns-4">
            <SideBarComponent class="border-r border-gray-03"/>
            <div class="col-span-2">
                <CarouselComponent/>
                // todo carousel not working
            </div>
        </div>
    </ContainerComponent>
</template>

<script>
export default {
    name: "MainPage"
}
</script>

<style scoped>

</style>