<template>
    <ul class="w-52 mr-6 pt-10">
        <li class="mb-4 flex items-center">
            <span class="cursor-pointer hover:text-gray-03 ease-out duration-300">Woman’s Fashion</span>
            <span class="ml-auto mr-4 cursor-pointer">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.95 11.636L8 6.68597L9.414 5.27197L15.778 11.636L9.414 18L8 16.586L12.95 11.636Z" fill="black"/>
                </svg>
            </span>
        </li>
        <li class="mb-4 flex items-center">
            <span class="cursor-pointer hover:text-gray-03 ease-out duration-300">Men’s Fashion</span>
            <span class="ml-auto mr-4 cursor-pointer">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.95 11.636L8 6.68597L9.414 5.27197L15.778 11.636L9.414 18L8 16.586L12.95 11.636Z" fill="black"/>
                </svg>
            </span>
        </li>
        <li class="mb-4">
            <span class="cursor-pointer hover:text-gray-03 ease-out duration-300">Electronics</span>
        </li>
        <li class="mb-4">
            <span class="cursor-pointer hover:text-gray-03 ease-out duration-300">Home & Lifestyle</span></li>
        <li class="mb-4">
            <span class="cursor-pointer hover:text-gray-03 ease-out duration-300">Medicine</span>
        </li>
        <li class="mb-4">
            <span class="cursor-pointer hover:text-gray-03 ease-out duration-300">Sports & Outdoor</span>
        </li>
        <li class="mb-4">
            <span class="cursor-pointer hover:text-gray-03 ease-out duration-300">Baby’s & Toys</span>
        </li>
        <li class="mb-4">
            <span class="cursor-pointer hover:text-gray-03 ease-out duration-300">Groceries & Pets</span></li>
        <li>
            <span class="cursor-pointer hover:text-gray-03 ease-out duration-300">Health & Beauty</span>
        </li>
    </ul>
</template>

<script setup>
</script>

<style scoped>

</style>