<template>
    <div class="grid grid-cols-4 gap-4 h-12 bg-black text-white items-center">
        <div></div>
        <div class="font-normal col-span-2">
            Summer Sale For All Swim Suits And Free Express Delivery - OFF 50%!
            <span class="font-semibold">ShopNow</span>
        </div>
        <div class="flex justify-center">
            <select class="bg-transparent border-none outline-none">
                <option class="bg-gray-light">English</option>
                <option class="bg-gray-light">Russian</option>
                <option class="bg-gray-light">O'zbekcha</option>
            </select>
        </div>
    </div>
</template>

<script setup>

</script>
